#APP
APP_TZ=Europe/Moscow
APP_VERSION=
APP_PROJECT_DESC=
APP_PROJECT_NAME=

#Gunicorn
WEB_WORKERS=
WEB_BIND_IP=
WEB_PORT=
WEB_MAX_REQUESTS=
WEB_MAX_REQUESTS_JITTER=
WEB_GUNICORN_PID_LOCATION=

#BackgroundTasks
TASK_WORKERS=
TASK_MAX_TASKS_PER_CHILD=

#DB
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

#RABBIT
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

#Redis
REDIS_PORT=
REDIS_HOST=

